.page_fallback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.page_fallback > * {
    width: max-content;
    text-align: center;
}

.page_fallback > i {
    font-size: 64px;
    animation: 2s page_fallback_glow ease-in-out infinite;
}

.page_fallback > h1 {
    font-size: 48px;
}

.page_fallback > p {
    max-width: min(600px, 90vw);
    font-size: 36px;
}

@keyframes page_fallback_glow {
    0% {
        transform: translateY(-30px) rotate(0deg);
        opacity: 1;
    }
    50% {
        transform: translateY(0px) rotate(30deg);
        opacity: 0.2;
    }
    100% {
        transform: translateY(-30px) rotate(0deg);
        opacity: 1;
    }
}