.page_home {
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: transparent;
}

.page_home::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../../images/background.png);
    background-position: center left;
    background-size: cover;
    filter: brightness(80%);
    z-index: -1;
}

.page_home_cover {
    /* home page cover */
    height: 700px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.15) !important;
}

.page_home_cover_title {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page_home_cover_title > h5 {
    /* home page cover title */
    width: fit-content;
    height: fit-content;
    font-size: 64px;
    font-family: "Audiowide", cursive;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.page_home_cover_title > p {
    /* home page cover subtitle */
    width: fit-content;
    height: fit-content;
    font-size: 32px;
    font-family: "Audiowide", cursive;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.page_home_cover_visit {
    height: 45px !important;
    border-radius: 5px;
    font-size: 20px;
    gap: 10px;
}

.page_home_experience {
    /* home page languages */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba(255, 255, 255, 1);
    overflow: visible;
}

.page_home_experience_grid {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
    padding: 10px;
}

.page_home_experience_icon {
    width: 160px;
    display: flex;
    border-radius: 3px;
}

.page_home_experience_icon > img {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
}

.page_home_experience_icon > p {
    width: 110px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.page_home_project {
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.page_home_project_content {
    width: fit-content;
    max-width: 800px;
    min-height: max-content;
    display: flex;
    gap: 60px;
}

.page_home_project:nth-child(even) > .page_home_project_content {
    flex-direction: row-reverse;
}

.page_home_project_content_image {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.page_home_project_content_image > img {
    width: 100%;
    max-width: 300px;
    height: max-content;
    border-radius: 5px;
}

.page_home_project_content_description {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.page_home_project_content_description > * {
    text-align: left !important;
}

.page_home_project_content_visit {
    width: 170px !important;
    height: 35px !important;
    border-radius: 5px;
    font-size: 20px;
    gap: 10px;
}

@media screen and (max-width: 800px) {
    .page_home_experience_grid {
        grid-template-columns: auto auto;
        grid-template-rows: max-content max-content max-content max-content;
    }
    .page_home_project_content {
        flex-direction: column !important;
        gap: 20px;
    }
    .page_home_project_content_image {
        height: max-content;
    }
    .page_home_project_content_image > img {
        max-width: 100%;
        height: auto;
    }
}

.page_home_container {
    /* home page containers */
    width: 100%;
    padding: 60px 120px;
}

.page_home_container:nth-child(odd) {
    background-color: rgba(245, 245, 245, 1);
}

.page_home_container:nth-child(even) {
    background-color: rgba(255, 255, 255, 1);
}

.page_home_container_title {
    /* home page container titles */
    width: fit-content;
    height: fit-content;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.page_home_container_paragraph {
    /* home page container paragraphs */
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    text-align: center;
}

.page_home_button {
    width: auto;
    height: auto;
    aspect-ratio: 4/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007ACC;
    border: none;
    color: white;
    text-decoration: none;
}

.page_home_button > * {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page_home_button:hover {
    filter: brightness(95%);
}

.page_home_button:active {
    filter: brightness(90%);
}