.page_projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page_projects > section {
    width: 100%;
}

.page_projects > section:nth-child(odd) {
    background-color: rgba(245, 245, 245, 1);
}

.page_projects > section:nth-child(even) {
    background-color: rgba(255, 255, 255, 1);
}

.page_projects_cover {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_projects_cover > h1 {
    width: fit-content;
    height: fit-content;
    font-size: 48px;
}

.page_projects_container {
    max-width: 600px;
    height: 100%;
    margin: 30px 100px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}

.page_projects_card {
    width: 300px;
    height: max-content;
    display: grid;
    grid-template-rows: 30px 18px 100px 5px 40px;
    grid-template-columns: 30px auto;
    border-radius: 5px;
    overflow: hidden;
}

.page_projects_card > i {
    width: 30px;
    height: 30px;
    grid-row: 1;
    grid-column: 1;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
}

.page_projects_card > h3 {
    width: 100%;
    height: 30px;
    grid-row: 1;
    grid-column: 2;
    line-height: 30px;
}

.page_projects_card > .page_projects_card_tags {
    margin-left: 7px;
    grid-row: 2;
    grid-column: 1 / 3;
    display: flex;
}

.page_projects_card > .page_projects_card_tags > span {
    width: fit-content;
    height: fit-content;
    padding: 3px;
    margin-right: 3px;
    color: var(--theme_foreground_light);
    background-color: var(--theme_background_main);
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    border-radius: 3px;
}

.page_projects_card > .page_projects_card_tags > span[data-special="true"] {
    background-color: var(--theme_foreground_warning);
}

.page_projects_card > p {
    width: 100%;
    height: 100px;
    padding: 7px;
    grid-row: 3;
    grid-column: 1 / 3;
    overflow: hidden;
}

.page_projects_card > .global_container_divider {
    grid-row: 4;
    grid-column: 1 / 3;
}

.page_projects_card_footer {
    width: 100%;
    height: 100%;
    padding: 7px;
    grid-row: 5;
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
}

.page_projects_card_footer > * {
    margin-right: 7px;
}

.page_projects_card_visit {
    width: fit-content;
    height: fit-content;
    padding: 3px;
    border-radius: 3px;
}

.page_projects_card_visit > i {
    margin-left: 5px;
}

.page_projects_card_footer > p {
    font-size: 12px;
}

@media screen and (max-width: 700px) {
    .page_projects_container {
        margin: 20px;
        grid-template-columns: 80vw;
        justify-content: center;
    }
    .page_projects_card {
        width: 100%;
    }
}