.page_root_footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme_background_dark);
    overflow: hidden;
}

.page_root_footer_content {
    max-width: 600px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 190px auto;
}

.page_root_footer_content {
    color: var(--theme_foreground_light);
}

.page_root_footer_content_title {
    grid-row: 1;
    grid-column: 1;
}

.page_root_footer_content_title > p:nth-child(2) {
    font-size: 12px;
    margin-bottom: 10px;
}

.page_root_footer_content_links > h1 {
    font-size: 16px;
    margin-bottom: 10px;
}