.page_root_header {
    width: 100%;
    height: 60px;
    padding-top: 10px;
    position: sticky;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
}

.page_root_header[data-float="true"] {
    position: fixed;
    /* top/left position already set above */
}

.page_root_header[data-pinned="true"] {
    padding-top: 0px;
    z-index: 1;
    background-color: var(--theme_background_main);
}

.page_root_header_container {
    width: 700px;
    margin: 0px 10px;
    display: flex;
    align-items: center;
}

.page_root_header_container > a {
    margin: 0px 6px;
    padding: 5px;
    font-size: 18px;
    color: var(--theme_foreground_light);
    text-decoration: none;
    border-bottom: 2px solid var(--theme_foreground_medium);
    transition: 0.35s;
    opacity: 0.7;
}

.page_root_header_container > a:nth-child(4) {
    margin-right: auto;
}

.page_root_header_container > a:hover {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--theme_foreground_light);
    opacity: 1;
}

.page_root_header_container > i {
    width: 0px;
    color: var(--theme_foreground_light);
    visibility: hidden;
}

.page_root_header_container > i:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}

@media screen and (max-width: 600px) {
    .page_root_header {
        height: max-content;
    }
    .page_root_header_container {
        width: 100%;
        height: 60px;
        padding: 7.5px;
        flex-direction: column;
    }
    .page_root_header_container > a {
        width: 0px;
        margin-right: 0px !important; /*cancel default margin*/
        visibility: hidden;
    }
    .page_root_header_container > i {
        width: 45px;
        height: 45px;
        align-self: baseline;
        text-align: center;
        line-height: 45px;
        visibility: visible;
    }
    .page_root_header[data-expanded="true"] {
        background-color: var(--theme_background_main);
    }
    .page_root_header[data-expanded="true"] > .page_root_header_container {
        height: max-content;
    }
    .page_root_header[data-expanded="true"] > .page_root_header_container > a {
        width: 100%;
        visibility: visible;
    }
}

/*@media screen and (max-width: 800px) {
    .page_root_header {
        height: 180px;
    }
    .page_root_header_container {
        flex-direction: column;
    }
    .page_root_header_container > a {
        margin-right: 0px !important;
    }
}*/