.global_container_shadow {
    box-shadow: rgb(212, 212, 213) 0px 1px 3px 0px, rgb(212, 212, 213) 0px 0px 0px 1px;
}

.global_container_divider::before {
    content: "";
    /*width: calc(100% - 20px);*/
    width: 100%;
    height: 1px;
    /*margin: 5px 10px;*/
    margin: 5px 0px;
    display: block;
    background-color: rgb(212, 212, 213);
}